ul{
  list-style: none;
}
a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}
img{
  max-width: 100%;
  display: inline-block;
}
body{
  font-size: 1.6rem;
  font-family: 'PT Serif', serif;
  color: $font;
}
@mixin heading {
  text-transform: capitalize;
  line-height: 1;
  font-style: italic;
  
}
.heading-1{
  @include heading;
  font-size: 6rem;
  z-index: 2;
  display: grid;
  justify-content: center;
  text-shadow: 0 .4rem .1rem rgba($color: #000000, $alpha: 0.4);
  transform: translateY(100%);
  @media only screen and (max-width: $bp-medium) {
    transform: translateY(50%);
  }

  span{
    display: inline-block;
    line-height: 1;
    
  }
  span + span{
    transform: translateX(8rem);
  }
}
.heading-2{
  @include heading;
  font-size: 4.5rem;
  color: $darkest;
  text-shadow: 0 .4rem .1rem rgba($color: #000000, $alpha: 0.4);
  

  position: absolute;
  top: 9rem;
  left: 10rem;
  @media only screen and (max-width: $bp-medium) {
    top: 3rem;
  }
  
}

.heading-3{
  font-size: 2.8rem;
  @include heading;
  text-shadow: 0 .4rem .1rem rgba($color: #000000, $alpha: 0.4);

  letter-spacing: .2rem;
  padding: 1rem 0;
  text-align: center;
  border: 1.2px solid $font;
  // display: inline-block;
}
.heading-4{
  font-size: 2.7rem;
  @include heading;
  text-shadow: 0 .4rem .1rem rgba($color: #000000, $alpha: 0.2);
  letter-spacing: .2rem;

}